.notapplicable {
  background-color: #959595;
}
.notstarted {
  background-color: #000D80;
}
.complete {
  background-color: #1499FC;
}

span {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: bold;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      position: relative;
      padding: 5px 0;

      &.status {
        color: white;
        font-weight: normal;
        border: none;
        padding: 4px;
        position: absolute;
        top: -1px;
        right: 0;
        display: inline;
      }
    }
