.danger {
  background-color: #1499FC;
}
.success {
  background-color: #000D80;
}
.notapplicable {
  background-color: #959595;
}
.notstarted {
  background-color: #000D80;
}
.complete {
  background-color: #1499FC;
}

.status.success, .status.complete {
  color: white;
}

.post-categories {
@@ -1813,11 +1774,11 @@ body.contrast-high {
      }
    }
    .indicator-cards {
      a {
        color: white !important;
      }
      span.status, .tags li, {
        color: white !important;
      }
    }
  }
