<div id="page-content">
  {% if meta.data_notice_heading %}
    <div class="alert {{ meta.data_notice_colour }}" >
      <div class="alert success">
        <i class="fa fa-exclamation-circle" aria-hidden="true" style="font-size: 60px; display: inline-block;"></i>
          <div style="display: inline-block; margin-left: 20px;">
            <h4>{{ meta.data_notice_heading }}</h4>
            <p>{{ meta.data_notice_text }}</p>
          </div>
      </div>
  {% endif %}
  {{ meta.page_content | markdownify }}
</div>
